.idea
*.pyc
venv
jupdaeri-server/env
jupdaeri-server/jupdaeri/__pycache__
jupdaeri-server/jupdaeri/restapi/__pycache__
jupdaeri-server/jupdaeri/restapi/daeshin_module/__pycache__
jupdaeri-server/jupdaeri/restapi/migrations/__pycache__

jupdaeri-upbit/bin
jupdaeri-upbit/lib

# dependencies
jupdaeri-client/node_modules

# testing
/coverage

# production
jupdaeri-client/build

# misc
jupdaeri-client/.DS_Store
jupdaeri-client/.env.local
jupdaeri-client/.env.development.local
jupdaeri-client/.env.test.local
jupdaeri-client/.env.production.local

jupdaeri-client/npm-debug.log*
jupdaeri-client/yarn-debug.log*
jupdaeri-client/yarn-error.log*
